<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerLogin()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>

        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of registerFormMessages.email">
          <div
            *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').touched || registerForm.get('email').dirty)"
          >
            -{{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>

        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="validation-error ion-padding-horizontal">
        <ng-container *ngFor="let validation of registerFormMessages.password">
          <div
            *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').touched || registerForm.get('password').dirty)"
          >
            -{{validation.message}}
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-text color="primary"
      ><div class="ion-text-center ion-margin-top">
        ¿Aun no tienes cuenta?
      </div></ion-text
    >

    <ion-button
      [disabled]="!registerForm.valid"
      expand="block"
      shape="round"
      fill="outline"
      type="submit"
      class="ion-padding-horizontal ion-margin-top"
      >Ingresar</ion-button
    >
  </form>
</ion-content>
